.activePage-container {
   border-radius: $border-radius;
   max-width: 1200px;
   min-height: 60vh;
   width: 95vw;
   padding: .5rem;
   margin-top: 1rem;
}
@import './activePage/activePage';
@import './activePage/customScroll';
