.activePage-container {
   // background-color: $bg-containers;
   // border: 2px solid darken( $bg-containers, 7);
   border-radius: $border-radius;
   max-width: 1400px;
   min-height: 60vh;
   width: 95vw;
   padding: .5rem;
   margin-top: 1rem;
}