.activePage-container {
   border-radius: $border-radius;
   background-image: url(../img/purple-1.jpg);
   max-width: 1200px;
   min-height: 60vh;
   width: 95vw;
   padding: .5rem;
   margin-top: 1rem;
   box-shadow: 1.5px 1.5px 16px 0 rgb(67, 39, 107);
}
@import './activePage/activePage';
@import './activePage/customScroll';
