.twa-container {
   background-color: $bg-containers;
   border: 2px solid darken( $bg-containers, 7);
   border-radius: $border-radius;
   display: grid;
   grid-template-columns: 75% 25%;
   justify-content: center;
   max-width: 1400px;
   min-height: 60vh;
   width: 90vw;
   padding: .5rem;
   margin-top: 2rem;
}

@media screen and (max-width: $lg) {
   .twa-container {
      grid-template-columns: 100%;
   }
}