
.main-select {
   background-color: $primary-dark;
   padding: .2rem;
   border-radius: .25rem;
   color: $text-white;
   font-size: .9rem;
   width: 100%;
}
.main-select:-internal-list-box {
   background-color: green !important;
}
