.sidebar{
   // background-color: $secondary-dark;
   background-color: rgba(0, 0, 0, 0.7);
   text-align: center;
   border-radius: $border-radius;
   max-width: 500px;
   padding: .5rem;
   padding-bottom: 1rem;
}
@media screen and (max-width: $lg) {
   .sidebar {
      justify-self: center;
      width: 500px;
      display: none;
   }
}
// * .sidebar-card {
//    background-color: $secondary ;
// }