// a b c d e f g  
// h i j k l m n o p
// q r s t u v x y z
// twa = TypingWebApp
@import './variables';
@import './breakpoints';

body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: $bg-color;
   box-sizing: border-box;
   color: $text-white;
   display: flex;
   justify-content: center;
   margin: 0;
}
a {
   text-decoration: none;
}

button {
   font-weight: 600 !important;
}

