// twa = TypingWebApp
@import './variables';
@import './breakpoints';

body {
   font-family: 'Montserrat', Geneva, Tahoma, sans-serif;
   font-display: swap;
   background-image: linear-gradient( $primary, $primary-dark) ;
   box-sizing: border-box;
   color: $text-white;
   display: flex;
   justify-content: center;
   min-height: 100vh;
   margin: 0;
}
a {
   text-decoration: none;
}

// sobre-escribiendo estilos de material-ui
button {
   font-weight: 600 !important;
   font-family: 'Montserrat', Geneva, Tahoma, sans-serif !important;
}

