$primary-dark: #090112;
$primary: #220A32;
$primary-light:#59387e;
$secondary-dark:#1B3A4B;
$secondary: rgba(11, 82, 91, .35);
$bg-color: #313638;
$bg-containers: #272640;
$border-radius: .75rem; 
$text-white: rgba(246, 246, 246, 0.93);